<section id="bio">
  <h2>👋 About Me</h2>
  <div class="bio-content">
    <p>
        I am <strong>Tuan An (Alex) To</strong>, an MPhil student in Computer Science and Engineering at 
        <a href="https://www.cse.ust.hk" target="_blank">HKUST</a>, where I am advised by 
        <a href="https://www.saikit.org" target="_blank">Prof. Sai-Kit Yeung</a>. Prior to joining HKUST, I obtained my B.S. in Computer Science (Advanced Program) from 
        <a href="https://www.hcmus.edu.vn" target="_blank">University of Science, VNU-HCM</a>. 
        I graduated with highest distinction, achieving a GPA of <strong>3.89/4.0</strong>. 
        During my undergraduate studies, I was guided by <a href="https://scholar.google.com/citations?hl=en&user=lt2ATkkAAAAJ&view_op=list_works&authuser=2&sortby=pubdate" target="_blank">Assoc. Prof. Minh-Triet Tran</a>.
    </p>
    <p>
       My research focuses on <strong>Vision-Language Models</strong>, <strong>Multimodal Agents</strong>, and <strong>Reasoning AI</strong> on
        with a core emphasis on advancing <strong>image/video understanding</strong> and <strong>vision-action world modeling</strong> 
        to enable agents that can perceive, reason, and act in complex environments.
    </p>
  </div>
</section>